.chart-container {
    box-sizing: border-box;
    /* min-height: 40vh;
    min-width: 40vw; */
    height: 500px;
    width: 700px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

.chart-header {
    width: 100%;
    max-height: 200px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
}

.chart-header h4 {
    display: inline-block;
    margin:0px;
}

.chart-body {
    box-sizing: border-box;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}